* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 500px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: aliceblue;
    padding: 20px;
}

.list {
    list-style: none;
}

.list-item {
    position: relative;
    padding: 10px;
    background-color: antiquewhite;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.list-item:hover {
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.input {
    min-width: 250px;
    border-radius: 0;
    border-color: darkgray;
    box-shadow: none;
    padding: 5px;
    font-size: 16px;
}

.input:focus-visible {
    outline: none;
}

#submit-button {
    padding: 10px;
    background-color: darkcyan;
    color: #ffffff;
    border: none;
}